<% include ../layout/header %>
    <h3>
        Курс:
        <b>
            <%= course.title %>
        </b>
    </h3>
    <p>
        <a href="/">На главную</a> &nbsp &nbsp
        <a href="/edit/course/<%= course.id %>">К курсу</a>
    </p>
    <h4>Добавить новый урок</h4>

    <div class="modal-body">
        <form method="post">
            <div class="form-group">
                <label for="nameOfLesson">Введите название урока:</label>
                <input type="text" name="title" class="form-control" id="nameOfLesson">
            </div>
            <div class="form-group">
                <label for="idOfLesson">Введите номер урока:</label>
                <input type="number" name="number" class="form-control" id="numberOfLesson">
            </div>
            <div class="form-group">
                <label for="discripitonOfLesson">Введите описание курса:</label>
                <textarea class="form-control" name="discripiton" id="discripitonOfLesson" rows="3"></textarea>
            </div>
            <div class="form-group">
                <label for="idOfLesson">Введите длительность урока:</label>
                <input type="number" name="duration" class="form-control" id="durationOfLesson">
            </div>
            <button type="submit" class="btn btn-primary create-lesson">Создать урок</button>
            <input id="courseId" name="id" type="hidden" value="<%= course.id %>">
        </form>
    </div>

    <% include ../layout/footer %>