<% include layout/header %>

    <h1>Добавить новый курс</h1>

    <div class="modal-body">
        <div class="first-column">
            <form method="post">
                <div class="form-group">
                    <label for="nameOfCourse">Введите название курса:</label>
                    <input type="text" name="title" class="form-control" id="nameOfCourse" placeholder="название курса">
                </div>
                <div class="form-group">
                    <label for="discripitonOfCourse">Введите описание курса:</label>
                    <textarea class="form-control" name="discripiton" id="discripitonOfCourse" rows="3" placeholder="описание курса"></textarea>
                </div>
                <div class="form-group">
                    <label for="logoFile">Прикрепите логотип курса:</label>
                    <input type="file" class="form-control-file" id="logoFile" name="logo">
                </div>
                <div class="form-group">
                    <label for="complexitySelector">Укажите сложность курса:</label>
                    <div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="complexity" id="inlineRadio1" value="option1">
                            <label class="form-check-label" for="inlineRadio1">1</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="complexity" id="inlineRadio2" value="option2">
                            <label class="form-check-label" for="inlineRadio2">2</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="complexity" id="inlineRadio3" value="option3">
                            <label class="form-check-label" for="inlineRadio3">3</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="complexity" id="inlineRadio4" value="option4">
                            <label class="form-check-label" for="inlineRadio4">4</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="complexity" id="inlineRadio5" value="option5">
                            <label class="form-check-label" for="inlineRadio5">5</label>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="categorySelector">Укажите категорию курса:</label>
                    <select class="form-control" name="category">
                        <option>Первая категория</option>
                        <option>Вторая категория</option>
                        <option>Третья категория</option>
                    </select>
                </div>
                <button type="submit" class="btn btn-primary my-1">Создать курс</button>
            </form>
        </div>
        <div class="second-column">
            В отличие от давно известных астрономам планет земной группы.
        </div>
    </div>

    <% include layout/footer %>