<% include layout/header %>

    <h1>Добавить новый курс</h1>
    <p>
        <a href="/">На главную</a>
    </p>
    <h2>Добавить новый урок</h2>

    <div class="modal-body">
        <form method="post">
            <div class="form-group">
                <label for="nameOfLesson">Введите название урока:</label>
                <input type="text" name="title" class="form-control" id="nameOfLesson" placeholder="название урока">
            </div>
            <button type="submit" class="btn btn-primary my-1">Создать урок</button>
        </form>
    </div>

    <% include layout/footer %>