<% include layout/header %>
    <h1>
        <%= title %>
    </h1>
    <p>
        <form action="/create">
            <button type="submit" class="btn btn-primary my-1">Добавить новый</button>
        </form>
    </p>

    <div class="modal-body">
        <div class="first-column">
            <ul>
                <% items.forEach(function(item) { %>
                    <li>
                        <h4>
                            <b>
                                <%= item.title %>
                            </b>
                        </h4>
                        <p>
                            <%= item.discripiton %>
                        </p>
                    </li>
                    <% }); %>
            </ul>
        </div>
        <div class="second-column">
            <form method="post" class="login">
                <h2>Вход</h2>
                <div class="form-group">
                    <label for="loginForm">Логин:</label>
                    <input type="login" name="login" class="form-control" id="login-login">
                </div>
                <div class="form-group">
                    <label for="loginForm">Пароль:</label>
                    <input type="password" name="password" class="form-control" id="login-password">
                </div>
                <button type="submit" class="btn btn-primary login-button">Войти</button>
                <br>
                <br>
                <p>
                    <a href="/registration">Регистрация</a>
                </p>
            </form>
        </div>
    </div>

    <% include layout/footer %>