<% include layout/header %>
    <h1>
        <%= title %>
    </h1>
    <p>
        <form action="/create/create-project">
            <button type="submit" class="btn btn-primary add-new-project">Добавить новый</button>
        </form>
    </p>

    <div class="modal-body">
        <div class="first-column">
            <ul>
                <% projects.forEach(function(project) { %>
                    <li>
                        <h4>
                            <b>
                                <a href="projects/<%= project.url %>">
                                    <%= project.title %>
                                </a>
                            </b>
                        </h4>
                        <p>
                            <strong>Краткое описание: </strong>
                            <%= project.discripiton.substring(0, 100)%>...
                        </p>
                    </li>
                    <% }); %>
            </ul>
        </div>
        <div class="second-column">
            <% include layout/sidebar %>
        </div>
    </div>

    <% include layout/footer %>