<% include layout/header %>
    <h1>
        <%= title %>
    </h1>
    <p>
        <% if(user.id && user.login) { %>
            <a href="/create/create-project">
                <button class="btn btn-primary add-new-project">Добавить новый</button>
            </a>
            <a href="/user-projects">
                <button class="btn btn-primary">Мои проекты</button>
            </a>
            <% } %>
    </p>

    <div class="modal-body">
        <div class="first-column">
            <ul>
                <% courses.forEach(function(course) { %>
                    <li>
                        <h4>
                            <b>
                                <a href="courses/<%= course.url %>">
                                    <%= course.title %>
                                </a>
                            </b>
                        </h4>
                        <p>
                            <strong>Краткое описание: </strong>
                            <%= course.discripiton.substring(0, 100)%>...
                        </p>
                    </li>
                    <% }); %>
            </ul>
        </div>
        <div class="second-column">
            <% include layout/sidebar %>
        </div>
    </div>

    <% include layout/footer %>