<% include layout/header %>
    <h1>
        <%= title %>
    </h1>
    <p>
        <a href="/">На главную</a>
    </p>
    <p>
        <% if(user.id && user.login) { %>
            <a href="/create/course">
                <button class="btn btn-primary add-new-project">Добавить новый</button>
            </a>
            <% } %>
    </p>

    <div class="modal-body">
        <div class="first-column">
        <% if (courses.length != 0) { %>
            <ul>
                <% courses.forEach(function(course) { %>
                    <li>
                        <h4>
                            <b>
                                <a href="/course/<%= course.id  %>">
                                    <%= course.title %>
                                </a>
                            </b>
                        </h4>
                        <p>
                            <strong>Краткое описание: </strong>
                            <%= course.discripiton.substring(0, 100)%>...
                        </p>
                    </li>
                    <% }); %>
            </ul>
            <% } else  { %>
                Сожалею, но вы не создали ни одного проекта.
            <% } %>
        </div>
        <div class="second-column">
            <% include layout/sidebar %>
        </div>
    </div>

    <% include layout/footer %>