<div class="project-structure">
    <a href="/create/create-project">Курс</a>
    <ul>
        <% lessons.forEach(function(lesson) { %>
            <li>
                <p>
                    <b>
                        <%= lesson.title %>
                    </b>
                </p>
            </li>
            <% }); %>
    </ul>
    <a href="/create/create-lesson">Добавить новый урок</a>
</div>