body {
  padding: 50px;
}

.first-column {
  width: 70%;
  float: left;
}

.second-column {
  width: 25%;
  float: right;
}

div.error,
p.error {
  background-color: #efcac4;
  border: 1px solid #e82c0c;
  color: #e82c0c;
  padding: 10px;
}

input.error,
textarea.error {
  border: 1px solid #e82c0c;
}

.project-structure {
  border: 2px solid #0069d9;
  border-radius: 5%;
  padding: 7px;
}

.add-new-lesson {
  color: #1f56ba;
}
